@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject GamesViewModel ViewModel

<h1>Games</h1>

@if (ViewModel.Games == null)
{
    <p>Loading games...</p>
}
else if (!ViewModel.Games.Any())
{
    <p>You currently have 0 active games.</p>
}
else
{
    <ul>
        @foreach (var game in ViewModel.Games)
        {
            <li>Game @game.Id</li>
        }
    </ul>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.Initialize();
    }
}