@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http

<h1>Games</h1>

@if (Response == null)
{
    <p>Loading...</p>
}
else if (!Response.Data.Any())
{
    <p>Found 0 results.</p>
}
else
{
    <p>Page @Response.PageNumber of @Response.MaximumPageNumber</p>

    <ul>
        @foreach (var game in Response.Data)
        {
            <li>Game # @game.Id</li>
        }
    </ul>
}

@code
{
    ApiPagedResponse<GameModel> Response;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Response = await Http.GetFromJsonAsync<ApiPagedResponse<GameModel>>("api/games?pageNumber=2&pageSize=2");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}